
.menu-top{
    display: flex;
    background-color: white;
    height: 12vh;
    flex:1;
    justify-content: space-between;
    padding: 20px;
    padding-left: 40px;
    padding-right: 120px;
    visibility: visible;
    width: 100vw;
    position: relative;
}

.menu-top ul{
    display: flex;
    gap: 10px;
    list-style: none;
    color:var(--naranjo);

}

.menu-top ul > li{
    cursor: pointer;
    font-weight: bold;

}

.menu-top.abrir ul{
    display: flex;
    gap: 10px;
    list-style: none;
    color:blue

}

.logo img{
    width: 170px;
}


.menu-top :nth-child(2) .hambur{
    display: none;
}

@media only screen and (min-width: 577px) and (max-width: 768px)
{


    
.menu-top{
   
    
}



    .menu-top :nth-child(2) ul{
        display: flex;
        flex-direction: column;
        z-index: 2000;
       position: fixed;
        margin-left: -10px;
        background-color: white;
        padding: 10px;
        width: 150px;
        padding-top: 100px;
        top:0;
        right: 0;
        bottom: 0;
        
       
        top:-20px;
        gap: 20px;
        opacity: 0;
        transition: all .3s ease-in-out;
    
    }

    .menu-top :nth-child(2) ul.abrir{
        display: flex;
        flex-direction: column;
        z-index: 2000;
       position: fixed;
        margin-left: -10px;
        background-color: white;
        padding: 10px;
        width: 150px;
        padding-top: 100px;
        top:0;
        right: 0;
        bottom: 0;
        transition: all .3s ease-in-out;
       
        top:-20px;
        gap: 20px;
        opacity: 1;
    
    }

    .menu-top :nth-child(2) .hambur{
        scale: 2;
        position: fixed;
        margin-top:-10px;
        display: flex;
        margin-left: 80px;
        z-index: 3000;
        cursor: pointer;
        
       
    }
}