.slider-top{
 
    background-color: aqua;
    width: 100vw;
    
    
    position: relative;
    overflow: hidden;
    padding-left: 60px;
   
   }
   
   .slider-top img{
       width: 500px;
       position: absolute;
       bottom: -60px;
       z-index: 999;
      
   }

   .informacionPrecio{
    position: absolute;
    color:red;
   }

   img.imagen_swi {
    object-fit: cover;
}

.swipper{
     position: relative;
     overflow: hidden;
}

   @media(max-width:360px)
{


    
}
   