*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
.slider-top{
 height: 90vh;
 background-color: aqua;
 width: 100vw;
}

.menu-top{
    background-color: red;
    height: 10vh;
    width: 100vw;
}